* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #000;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 1000px) {
    .container {
        width: 1000px;
    }
    .content {
        width: 750px;
    }
}


/*header*/

header {
    padding: 20px 0;
    margin-bottom: 50px;
    width: 100%;
    background-color: #256F5B;
    /*background-color: #00733E;*/
    font-family: "Montserrat", Arial, sans-serif;
}

#blog-title {
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    margin-bottom: 5px;
}

#blog-subtitle {
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-style: italic;
    font-size: 15px;
}

.border {
    border: 1px solid black;
}


/*content*/

main {
    margin-bottom: 30px;
}

.content {
    float: left;
}

.sidebar {
    float: right;
    width: 150px;
}


/*articles*/

article {
    margin-bottom: 40px;
}

article h2 {
    color: #555;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 10px;
}

article h2 a {
    text-decoration: none;
    color: inherit;
}

article h2 a:hover {
    text-decoration: underline;
}

article .time {
    color: #aaa;
    font-family: "Merriweather", Arial, sans-serif;
    font-size: 15px;
    margin-bottom: 20px;
}

article p {
    font-family: "Merriweather", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.8;
    color: #555;
}

article p.read-more {
    text-align: right;
    color: #256F5B;
    font-weight: 500;
}

article p.read-more a {
    text-decoration: none;
    color: inherit;
}

article p.read-more a:hover {
    text-decoration: underline;
}


/*footer*/

footer {
    clear: both;
    margin-bottom: 40px;
}

footer p {
    text-align: center;
    font-family: "Merriweather", Arial, sans-serif;
    font-size: 15px;
    color: #aaa;
}


/*button {
    font-size: 20px;
    display: inline-block;
    margin: 0;
    padding: 10px 25px;
    appearance: none;
    box-shadow: none;
    border-radius: 0;
}

button:focus {
    outline: none
}

button {
    background-color: #71B48D;
    text-shadow: -1px 1px #417cb8;
    border: none;
}

button:hover {
    background-color: #48735A;
    text-shadow: -1px 1px #27496d;
}

button:active {
    background-color: #71B48D;
    text-shadow: -1px 1px #193047;
}
*/
